Source: python-hunspell
Section: science
Priority: extra
Maintainer: Sebastiaan Mathot <s.mathot@cogsci.nl>
Build-Depends: debhelper (>= 7.0.50~), python-support, python-all,
  libhunspell-dev, python-dev
XS-Python-Version: >= 2.6
Standards-Version: 3.9.3
Vcs-Git: git@github.com:smathot/pyhunspell.git
Homepage: https://github.com/smathot/pyhunspell

Package: python-hunspell
Architecture: any
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends}, ${python:Depends}, hunspell
Recommends: quiedit
Description: Pyhunspell is a set of Python bindings for the Hunspell spellchecker
  engine. It lets developers load Hunspell dictionaries, check words, get
  suggestions, add new words, etc. It also provides some basic morphological
  analysis related methods. Basic usage instructions are at UsingPyHunspell.

